telemetry-server/logs/R1_barber_telemetry_data.csv
/HackTheTrack/Assets/_Recovery
/telemetry-server/logs/weather
HackTheTrack/Assets/ThirdParty/CartoonTracksPack1/Track1/Textures/road.psd
HackTheTrack/Assets/ThirdParty/CartoonTracksPack1/Track1/Textures/road.psd.meta
HackTheTrack/Assets/ThirdParty/CartoonTracksPack1/Track1/Textures/road.psd.meta
HackTheTrack/Assets/ThirdParty/CartoonTracksPack1/Track1/Textures/road_normal.png
HackTheTrack/Assets/ThirdParty/CartoonTracksPack1/Track1/Textures/road_normal.png.meta
HackTheTrack/Assets/ThirdParty/CartoonTracksPack1/Track1/Textures/road.psd.meta
